<section id="contactus" class="section">
  <div class="container d-flex  justify-content-center align-items-center justify-content-start" style="    min-height: 100%;">
    <div class="row flex-fill d-flex align-middle justify-content-center align-items-center">
      <div class="col-md-4">
        <div class="row flex-fill d-flex align-middle justify-content-center align-items-center">
          <div class="col-md-12  flex-fill d-flex align-middle justify-content-center align-items-center">
            <div class="onwhite">Contactez-nous !</div>           
          </div>
        </div>
        <div class="row flex-fill d-flex align-middle justify-content-center align-items-center">
          <div class="col-md-12 flex-fill d-flex align-middle justify-content-center align-items-center">
              <i class="fa fa-envelope-o onwhite" style="font-size:96px;"></i>

          </div>
        </div>
      </div>
      <div class="col-md-8">
        <form role="form" id="contact-form" class="contact-form">
          <div class="row">
            <div class="col-md-6">
                <div class="md-form mb-5">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="defaultform-name" class="form-control validate"/>
                    <label data-error="Name incorrect" data-success="right" for="defaultform-name">Your name</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="md-form mb-5">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="email" id="form-email" class="form-control validate"/>
                    <label data-error="Email incorrect" data-success="right" for="form-email">Your email</label>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="md-form">
                    <textarea type="text" id="textareaBasic" class="form-control md-textarea" rows="3"></textarea>
                    <label for="textareaBasic"></label>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="submit" class="btn main-btn pull-right btn-custom">Send a message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>