<!-- Modal -->
<div id="register-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="div-forms2">
        <% include registerModal.ejs %>
      </div>
    </div>
  </div>
</div>