<!doctype html>

<html lang="fr">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="_token" content="<%= csrfToken %>" />
  <title>Clean My House</title>
  <meta name="description" content="The HTML5 Herald"/>
  <meta name="author" content="kristof"/>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet"/>
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet"/>
  <!-- Your custom styles (optional) -->
  <link href="css/styles.css" rel="stylesheet"/>
  <link rel="stylesheet" href="css/jquery.fakeloader.min.css"/>
  <script  type="text/javascript" src="<%=process.env.BROWSER_REFRESH_URL%>"></script>

  
  
</head>
<!--

<h1>Welcome to My Awesome App</h1>
    <div id="firebaseui-auth-container"></div>
    <div id="loader">Loading...</div>    
    <a class="btn btn-social-icon btn-google " onclick="javascript:initAuthenticationWithFireBase();">
      <span class="fa fa-google"></span>
    </a>

-->

<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <% include landing.ejs %>
  <% include contactus.ejs %>
  <% include accountModal.ejs %>
  <% include createAccountModal.ejs %>
  


  <div class="modal fade" id="mail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Begin # DIV Form -->
            <div id="div-forms">
                <form id="mail-form">
                    <div class="modal-header">
                        <div class="mx-11">
                            <div class="modalTitle">Valider l'inscription</div>
                        </div>
                        <div class="mx-1">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="mx-3">
                            <div class="md-form mb-5">
                                <div id="div-mail-msg">
                                    <span id="text-mail-msg" class="error text-danger"></span>
                                </div>
                                <button type="submit" class="btn main-btn pull-right btn-custom waves-effect waves-light">Ré-envoyer
                                    le
                                    Mail de confirmation</button>
                            </div>
                            <div class="md-form mb-6">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End # DIV Form -->

        </div>
    </div>
</div>

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>  
  <script src="js/jquery.fakeloader.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <script src="js/auth.js" type="text/javascript"></script>
  <script src="js/validation.js" type="text/javascript"></script>
  
  
</body>

</html>