<section id="landing" class="section container-fluid landing">
    <% include navbarProfile.ejs %>
    <div id="fakeLoader" ></div>
    <div class="cta container rounded text-center text-white">
        <h1>Clean My House</h1>
        <h3>Nous sommes là pour vous</h3>
    </div>
</section>