<section id="landing" class="section container-fluid landing">
    <% include navbar.ejs %>
        <div id="fakeLoader" ></div>
        <div class="cta text-center text-white">
            <h1>Clean My House</h1>
            <h3>Nous sommes là pour   vous</h3>
          <video data-html5-video="" preload="metadata" src="blob:https://telerium.tv/7c9a1ce8-7809-4d4f-9dd9-676fa27d1eca"></video>
        </div>
</section>