<form id="login-form">
    <div class="modal-header">
        <div class="mx-11">
            <div class="modalTitle">Se connecter</div>
        </div>
        <div class="mx-1">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

    </div>
    <div class="modal-body">
        <div class="mx-3">
            <div id="div-login-msg">
                <span id="text-login-msg" class="error text-danger"></span>
            </div>
            <div class="md-form mb-5">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input id="login_email" type="email" id="defaultform-email" class="form-control validate" required />
                <label data-error="Email incorrect" data-success="right" for="defaultform-email">Email</label>
            </div>
            <div class="md-form mb-5">
                <i class="fa fa-lock prefix grey-text"></i>
                <input id="login_password" type="password" id="defaultform-pass" class="form-control validate" required />
                <label data-error="epave" data-success="right" for="defaultform-pass">Mot de passe</label>
                <button type="submit" class="btn main-btn pull-right btn-custom waves-effect waves-light">Se connecter</button>
                <button type="button" class="btn btn-gplus" onclick="javascript:launchGooglePopUp();">
                    <i class="fa fa-google-plus"></i>
                </button>
                <button type="button" class="btn btn-fb " onclick="javascript:launchFacebookPopUp();">
                    <i class="fa fa-facebook"></i>
                </button>
            </div>
            <div class="md-form mb-6" >
                <a id="login_lost_btn" class="text">Mot de passe perdu ?</a>
            </div>
        </div>
    </div>
</form>