<form id="lost-form" style="display:none;">
    <div class="modal-header">
        <div class="modal-body mx-11">
            <div class="modalTitle">Mot de passe oublié ?</div>
        </div>
        <div class="modal-body mx-1">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
    </div>
    <div class="modal-body">
        <div class="mx-3">
            <div class="md-form mb-5">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input id="lost_email" class="form-control" type="text" placeholder="E-Mail" required>
                <label data-error="Email incorrect" data-success="right" for="lost_email">Your
                    email</label>
            </div>
            <div class="md-form mb-6">
                <button id="lost_login_btn" type="button" class="btn btn-link">Se connecter</button>
                <button id="lost_register_btn" type="button" class="btn btn-link">Pas de compte ?</button>
            </div>
        </div>
    </div>
</form>

