<div class="modal fade" id="mail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Begin # DIV Form -->
            <div id="div-forms">
                <form id="mail-form">
                    <div class="modal-header">
                        <div class="mx-11">
                            <div class="modalTitle">Valider l'inscription</div>
                        </div>
                        <div class="mx-1">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="mx-3">
                            <div class="md-form mb-5">
                                <div id="div-mail-msg">
                                    <span id="text-mail-msg" class="error text-danger"></span>
                                </div>
                                <button type="submit" class="btn main-btn pull-right btn-custom waves-effect waves-light">Ré-envoyer
                                    le
                                    Mail de confirmation</button>
                            </div>
                            <div class="md-form mb-6">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End # DIV Form -->

        </div>
    </div>
</div>