<form id="register-form" method="post" onsubmit="return false">
    <div class="modal-header">
        <div class="modal-body mx-11">
            <div class="modalTitle">Pas de compte ?</div>
        </div>
        <div class="modal-body mx-1">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
    </div>

    <div class="modal-body">
        <div class="mx-3">
            <div id="div-register-msg">
                <span id="text-register-msg"></span>
            </div>
            <div class="md-form mb-5" style="white-space:nowrap">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input id="register_email" type="email" class="form-control validate" required />
                <label data-error="Email incorrect" data-success="right" for="register_email">Email</label>
            </div>
            <div class="md-form mb-5" style="white-space:nowrap">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" class="form-control" name="register_password" id="register_password" required>
                <label id="label_register_password" data-success="right" for="register_password">Mot de passe</label>
            </div>
            <div class="md-form mb-5" style="white-space:nowrap">
                <i class="fa fa-lock prefix grey-text"></i>
                <input name="register_password2" id="register_password2" class="form-control glyphicon-eye-open" type="password"
                    required>
                <label id="label_register_password2" data-success="right" for="register_password2">Confirme ton mot de
                    passe</label>
            </div>
        </div>
        <div class="md-form mb-5">
            <button type="submit" id="login_register_btn" class="btn btn-primary">S'inscrire</button>
            <button type="button" class="btn btn-gplus" onclick="javascript:launchGooglePopUp();">
                <i class="fa fa-google-plus"></i>
            </button>
            <button type="button" class="btn btn-fb " onclick="javascript:registerWithFaceBook();">
                <i class="fa fa-facebook"></i>
            </button>
        </div>
    </div>
</form>